# sync to .git/config
# git submodule sync --recursive
# git config --get-regexp submodule (check)
# git submodule update --init --recursive (may need this)
#
# other tips
# git ls-files --stage
# git rm -r --cached <path>

[submodule "alacritty-theme"]
  path = AppData/Roaming/alacritty/themes
  url = https://github.com/alacritty/alacritty-theme.git 
  branch = master

[submodule "nvchad-config"]
  path = .config/nvim
  url = git@github.com:gin31259461/nvchad.git
  branch = main

[submodule "pwsh-setup"]
  path = pwsh-setup
  url = git@github.com:gin31259461/pwsh-setup.git
  branch = main

[submodule "wezterm"]
  path = .config/wezterm
  url = git@github.com:gin31259461/wezterm.git 
  branch = main
