[submodule "nvchad"]
  path = .config/nvim
  url = git@github.com:gin31259461/nvchad.git
  branch = main

[submodule "wezterm"]
  path = .config/wezterm
  url = git@github.com:Orbit-Lua/wezterm.git 
  branch = master
